<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:~/test" />
		<property name="username" value="my1stdb" />
	</bean>

	<bean id="baseDao" abstract="true">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- dao -->
	<bean id="permissionDao" class="com.raysun.shirodemo.dao.PermissionDaoImpl"
		parent="baseDao" />
	<bean id="roleDao" class="com.raysun.shirodemo.dao.RoleDaoImpl"
		parent="baseDao" />
	<bean id="userDao" class="com.raysun.shirodemo.dao.UserDaoImpl"
		parent="baseDao" />

	<!-- service -->
	<bean id="permissionService" class="com.raysun.shirodemo.service.impl.PermissionService">
		<property name="permissionDao" ref="permissionDao" />
	</bean>

	<bean id="roleService" class="com.raysun.shirodemo.service.impl.RoleService">
		<property name="roleDao" ref="roleDao" />
	</bean>

	<bean id="passwordHelper" class="com.raysun.shirodemo.service.impl.PasswordHelper">
		<property name="algorithmName" value="md5" />
		<property name="hashIterations" value="2" />
	</bean>

	<bean id="userService" class="com.raysun.shirodemo.service.impl.UserService">
		<property name="userDao" ref="userDao" />
		<property name="passwordHelper" ref="passwordHelper" />
	</bean>

</beans>       