<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pic Wall - Folder</title>
</head>
<body>

<div style="margin-left:5%;">
    <div style="height: 49px;"><h3>标题栏</h3></div>
    <div style="height: 50px;"><h3>导航栏</h3></div>
    <div style="height: 500px;">
        <h3>内容</h3>
        <div>
            <li><img src="../img/folder01.png" width="3%"/> <a href="#">我的图片01</a></li>
            <li><img src="../img/folder01.png" width="3%"/> <a href="#">我的图片02</a></li>
            <li><img src="../img/folder01.png" width="3%"/> <a href="#">我的图片03</a></li>
        </div>
    </div>
</div>

</body>
</html>