<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pic Wall - Folder</title>
</head>
<body>

<div style="margin-left:5%;">
    <div style="height: 50px;"><h3>导航栏</h3></div>
    <hr/>
    <div style="height: 500px;">
        <div>
            <span th:each="folder : ${folders}">
                <li><img src="../img/folder01.png" width="3%"/>&nbsp;<a href="#" th:onclick="goIntoFolder(this)" th:text="${folder.name}"/></li>
            </span>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">

    function goIntoFolder(currentFolder){
        console.log('current folder is : ' + currentFolder.text);

    }

</script>

</html>